<nav class="container mt-5 text-center">
    <a routerLink="/order" (click)="confirm('Near sighted')" type="button" class="btn btn-success mx-2">Near sighted</a>
    <a routerLink="/order" (click)="confirm('Far sighted')" type="button" class="btn btn-danger mx-2">Far sighted</a>
    <a routerLink="/order" (click)="confirm('Bifocals')" type="button" class="btn btn-warning mx-2">Bifocals</a>
    <a routerLink="/order" (click)="confirm('Multifocals')" type="button" class="btn btn-info mx-2">Multifocals</a>
</nav>